<app-top-bar></app-top-bar>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>MARMITA GRANDE</ion-card-title>
        <ion-card-subtitle>Produto: </ion-card-subtitle>
        <ion-card-subtitle>Valor: </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-label>Adicionais</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="remove-circle" slot="end"></ion-icon>
        <ion-icon name="add-circle" slot="end"></ion-icon>
        <ion-label>Quantidade</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">Observações</ion-label>
        <ion-textarea style="padding: 5px;"></ion-textarea>
      </ion-item>
  
      <ion-text-area></ion-text-area>
    </ion-card>
  </ion-list>

</ion-content>

<div class="line">
  <ion-title slot="end" style="font-size: 16px; font-weight: bold; margin: 10px;">
    Total: R$ 15,00
  </ion-title>
</div>
<ion-toolbar class="tool-advance">
  <ion-title routerLink="/cart-final" class="advance" >
    AVANÇAR
  </ion-title>
</ion-toolbar>

